// Sass variables
//
// Styleguide: Sass.variables

// Colors
//
// ```sass
// $theme: 'dark';
// $contrast-colors: (
//   'dark': (
//     'primary': rgb(255, 255, 255),
//     'secondary': rgba(255, 255, 255, .70),
//     'disabled': rgba(255, 255, 255, .5),
//     'hint': rgba(255, 255, 255, .12)
//   ),
//   'light': (
//     'primary': rgba(0, 0, 0, .87),
//     'secondary': rgba(0, 0, 0, .54),
//     'disabled': rgba(0, 0, 0, .38),
//     'hint': rgba(0, 0, 0, .12)
// );
// ```
//
// Styleguide: Sass.variables.1
$theme: 'dark';
$contrast-colors: ( 
  'dark': ( 
    'primary': rgb(255, 255, 255), 
    'secondary': rgba(255, 255, 255, .70), 
    'disabled': rgba(255, 255, 255, .5), 
    'hint': rgba(255, 255, 255, .12)
  ), 
  'light': ( 
    'primary': rgba(0, 0, 0, .87), 
    'secondary': rgba(0, 0, 0, .54), 
    'disabled': rgba(0, 0, 0, .38), 
    'hint': rgba(0, 0, 0, .12)
  ) 
);

// Blocks
//
// ```sass
// $block-padding: (
//   'small': 4px,
//   'normal': 8px,
//   'large': 20px,
//   'important': 40px
// );
// $scrollbar-height: 18px;
// ```
//
// Styleguide: Sass.variables.2
$block-padding: ( 'small': 4px, 'normal': 8px, 'large': 20px, 'important': 40px);
$scrollbar-height: 17px;

// AppBar
//
// ```sass
// $appbar-background: contrast($theme, 'disabled');
// $appbar-max-height: 500px;
// $appbar-min-height: 40px;
// $appbar-padding-level: 'normal';
// $appbar-transition: 0.3s;
// ```
//
// Styleguide: Sass.variables.3
$appbar-background: contrast($theme, 'disabled');
$appbar-max-height: 500px;
$appbar-min-height: 40px;
$appbar-padding-level: 'normal';
$appbar-transition: 0.3s;

// SectionTabs
//
// ```sass
// $sectiontabs-section-width: 100%;
// ```
//
// Styleguide: Sass.variables.4
$sectiontabs-section-width: 100%;