// Appbar
//
// Markup:
// <div class="appbar">
//   <button data-toggle="appbar">Toggle</button>
//   <div class="content">
//     <h1>Title</h1>
//     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
//   </div>
// </div>
//
// Styleguide Components.appbar

.appbar {
  @include padding($appbar-padding-level);
  display: block;
  min-height: $appbar-min-height;
  background-color: contrast($theme, 'disabled');

  &.in {
    > .content {
      max-height: $appbar-max-height;
    }
  }

  > .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height $appbar-transition;
  }
}

// Appbar toggle button
//
// Toggle button can be aligned on right side
//
// Markup:
// <div class="appbar">
//   <div class="right">
//     <button data-toggle="appbar">Toggle</button>
//   </div>
//   <div class="content">
//     <h1>Title</h1>
//     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
//   </div>
// </div>
//
// Styleguide Components.appbar.1
.appbar {
  >.left {
    text-align: left;
  }
  >.right {
    text-align: right;
  }
}

// Appbar position
//
// A appbar can be positioned on top or bottom
//
// Markup:
// <div style="height: 150px">
//   <div class="appbar top">
//     <button data-toggle="appbar">Toggle</button>
//     <div class="content">
//       <h1>Title</h1>
//       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.appbar.2

.appbar {
  &.top,
  &.bottom {
    position: absolute;
    left: 0;
    right: 0;
  }

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }
}