// SectionTabs
//
// Markup:
// <div class="section-tabs">
//   <div class="content">
//     <div class="section active" style="height: 100px; background-color: blue;"></div>
//     <div class="section" style="height: 200px; background-color: yellow;"></div>
//     <div class="section" style="height: 300px; background-color: red;"></div>
//   </div>
// </div>
//
// Styleguide Components.sectiontabs

.section-tabs {
  display: block;

  .content {
    white-space: nowrap;
    overflow-y: none;
    overflow-x: scroll;  
    -webkit-overflow-scrolling: touch;

    > .section {
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }
  }
}

// SectionTabs with controllers
//
// Markup:
// <div class="section-tabs">
//   <ul class="nav">
//     <li><a href="#section1">Section 1</a></li>
//     <li class="active"><a href="#section2">Section 2</a></li>
//     <li><a href="#section3">Section 3</a></li>
//   </ul>
//   <div class="content">
//     <div class="section" id="section1" style="height: 100px; background-color: blue;"></div>
//     <div class="section active" id="section2" style="height: 200px; background-color: yellow;"></div>
//     <div class="section" id="section3" style="height: 300px; background-color: red;"></div>
//   </div>
// </div>
//
// Styleguide Components.sectiontabs.1

.section-tabs {
  > .nav {
    padding-left: 0;
    list-style: none;

    > li {
      display: inline-block;
    }
  }
}

// SectionTabs without scrollbar
//
// Markup:
// <div class="section-tabs">
//   <ul class="nav"> 
//     <li><a href="#section4">Section 4</a></li>
//     <li class="active"><a href="#section5">Section 5</a></li>
//     <li><a href="#section6">Section 6</a></li>
//   </ul>
//   <div class="no-scrollbar">
//     <div class="content">
//       <div class="section" id="section4" style="height: 100px; background-color: blue;"></div>
//       <div class="section active" id="section5" style="height: 200px; background-color: yellow;"></div>
//       <div class="section" id="section6" style="height: 300px; background-color: red;"></div>
//     </div>
//   </div>
// </div>
//
// Styleguide Components.sectiontabs.2
.section-tabs {
  .no-scrollbar {
    overflow: hidden;

    > .content {
      margin-bottom: -18px;
    }
  }
}